table, th, td {
  border: 1px solid #000;
}

section {
  display: flex;
  max-width: 100%;
}

table {
  background-color: #f0f8ff;
}

.iwrapper {
  flex-direction: column;
}

.csvwrapper {
  flex-direction: column;
}