<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<div class="link">
  <a class="link__link" href="/admin">Innskráning stjórnanda</a>
  <br><br>
  <a class="link__link" href="/user">Innskráning notanda</a>
  <br><br>
  <a class="link__link" href="/user/signup">Nýskráning notanda</a>
</div>

<%- include('footer') -%>
